extends layout
block content
    h1(class='bonus')= title
    form(id='ElectricappliancesForm' action="/resource/electricappliances" method="POST")
    
        div.form-group
            label.electricappliancesAttr(for='electricitems') electricappliances name
            input#electricitems(type='text' name='electricitems')
        div.form-group
            label.electricappliancesAttr(for='company') electricappliances company
            input#company(type='text' name='company')
        div.form-group
            label.electricappliancesAttr(for='price') electricappliances price
            input#price(type='number' name='price')
        input(type="submit")
    script.
      document.forms['ElectricappliancesForm'].addEventListener('submit', (event) => {
        event.preventDefault();
    // TODO do something here to show user that form is being submitted

        fetch(event.target.action, {
          method: 'POST',
          body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
          alert("Save succeded")
    // TODO handle body
        }).catch((error) => {
    // TODO handle error
          alert("Save failed " + error )
        });
        });