extends layout

block content
    h1(class='bonus')= title

    if (toShow == null)
        h2 No instance to update
    else
        - let electricappliancesid = toShow._id
        - let electricitems = toShow.electricitems
        - let company = toShow.company
        - let price = toShow.price


          div.row(class='electricappliancesAttr mb-2')
            div.mr-1 ID is
            div #{electricappliancesid}
        - let actionid = "/resource/electricappliances/"+electricappliancesid
        form(id='electricappliancesForm', action= actionid, method="PUT")
          div.form-group
            label.electricappliancesAttr(for='electricitems') electricappliances Name
            input#electricitems(type='text' name='electricitems', value= electricitems )
          div.form-group
            label.electricappliancesAttr(for='company') electricappliances company
            input#company(type='text' name='company', value= company )
          div.form-group
            label.electricappliancesAttr(for='price') electricappliances price
            input#price(type='number' name='price', value= price )
          input(type="submit")
        script.
          document.forms['electricappliancesForm'].addEventListener('submit', (event) => {
            event.preventDefault();
                // TODO do something here to show user that form is being submitted
            fetch(event.target.action, {
             method: 'PUT',
             body: new URLSearchParams(new FormData(event.target)) // event.target is the form
            }).then((resp) => {
             return resp.json(); // or resp.text() or whatever the server sends
            }).then((body) => {
             alert("Update succeded")
                // TODO handle body
            }).catch((error) => {
                // TODO handle error
             alert("Update failed " + error )
            });
          });